body,
html {
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  font-family:
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Helvetica,
    Arial,
    sans-serif;
  font-family: var(--el-font-family);
  font-size: 12px;
  font-size: var(--el-font-size-base);
  color: rgba(0, 0, 0, 0.6);
  color: var(--el-color-text-primary);
  background-color: #edeff3;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
